[submodule "recastnavigation"]
	path = recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "stormlib"]
	path = stormlib
	url = https://github.com/ladislav-zezula/StormLib.git
