/.vs/MapViewer/v14/*.suo
/Debug
/MapViewer/Debug
/utility/Debug/*.idb
/parser/Debug
/parser/*.user
/utility/Debug/*.pdb
/utility/Debug/*.obj
/utility/Debug
/ipch/ANTTWEAKBAR-5f4de96b/*.ipch
/*.sdf
/ipch/STORMLIB-4af47af8/*.ipch
/utility/*.user
/.vs/maps/v14/*.suo
/MapViewer/x64/Debug/*.pdb
/*.opensdf
/MapViewer/*.aps
/MapViewer/pixelShader.hpp
/MapViewer/vertexShader.hpp
/MapViewer/*.user
/MapViewer/Release
/parser/Release
/utility/Release
/Release
/RecastDetourBuild/Recast/Debug
/MapBuilder/Debug
/MapBuilder/*.user
/pathfind/Debug
/MapBuilder/x64/Debug
/pathfind/Release
/MapBuilder/Release
