[submodule "recastnavigation"]
	path = recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "stormlib"]
	path = stormlib
	url = https://github.com/ladislav-zezula/StormLib.git
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/henryiii/pybind11/tree/henryiii/fix/cmakemodule
