name: BuildTestDeploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Checkout submodules
      run: git submodule update --init --recursive
    
    - name: Install python and boost
      run: |
        sudo apt-get -y update
        sudo apt-get install python3 python3-dev libboost-python-dev

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Install
      run: cmake --install ${{github.workspace}}/build --prefix ${{github.workspace}}/install
      
    - name: Test
      working-directory: ${{github.workspace}}/install
      run: test/smoke_tests.py

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: namigator_linux
        path: ${{github.workspace}}/install/
        retention-days: 5

  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Checkout submodules
      run: git submodule update --init --recursive
    
    - name: Install python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        architecture: 'x64'

    - name: Build Boost
      run: |
        Invoke-WebRequest https://boostorg.jfrog.io/artifactory/main/release/1.78.0/source/boost_1_78_0.zip -OutFile boost.zip
        Expand-Archive -Path boost.zip -DestinationPath .
        cd boost_1_78_0
        .\bootstrap
        .\b2 --with-python link=static threading=multi runtime-link=shared architecture=x86 address-model=64 stage

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBOOST_ROOT=${{github.workspace}}/boost_1_78_0 -DBOOST_LIBRARYDIR=${{github.workspace}}/boost_1_78_0/stage/lib

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Install
      run: cmake --install ${{github.workspace}}/build --prefix ${{github.workspace}}/install
      
    - name: Test
      working-directory: ${{github.workspace}}/install
      run: python test/smoke_tests.py
      
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: namigator_windows
        path: ${{github.workspace}}/install/
        retention-days: 5
